// Reset some of the HTML/CSS defaults
body {
  margin: 0;
  margin-bottom: 72px;
  margin-top: 48px;
  max-width: 100%;
  overflow-x: hidden;
}

.bottom-footer {
  position: fixed;
  bottom: 0;
}

.image-title {
  position: absolute;
  margin-top: -20px;
  margin-left: 20px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.card-image {
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 10px;
}

.program-image {
  width: 100%;
}

.btnGreen{color: #54cd24;font-size:24px;} // Stream Button
.btnGray{color: #333;font-size:24px;} // Download Button
// Custom ListView Styling -->
.btnLeft {float: left;}
.btnRight {float:right;}
.padd {padding: 15px;}
ul.listaus {padding: 15px; margin: 0; width:100%; display:table; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
ul.listaus li {display: table-row;}
ul.listaus li span.lLeft { display:table-cell;  vertical-align:middle; padding-bottom:10px; padding-top:10px;}
ul.listaus li span.lRight { width: 64px; text-align:right; display:table-cell; vertical-align:middle;}
ul.listaus li span.lTitle { font-size:1em; display:block;}
ul.listaus li span.lDur { font-size:0.8em; display:block;}