@import "colors";
// Reset some of the HTML/CSS defaults
body {
  margin: 0;
  margin-bottom: 72px;
  margin-top: 48px;
  max-width: 100%;
  overflow-x: hidden;
}

.bottom-footer {
  position: fixed;
  bottom: 0;
}

.image-title {
  position: absolute;
  margin-top: -20px;
  margin-left: 30px;
  margin-right: 20px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.card-image {
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 10px;
}

.program-image {
  width: 100%;
}

.media-control-buttons { // Download Button
  color: $accent-color;
  font-size: 40px;
  margin-left: 10px;
}

#view .card-image { // text-align issue fix
 position:relative;
 overflow:hidden;
 }
#view .card-image h2 { // text-align issue fix
 font-size:1.1em;
 position:absolute;
 display:block;
 bottom:0;
 }

// Custom ListView Styling -->
.btnLeft {
  float: left;
}
.btnRight {
  float:right;
}
.padd {
  padding: 15px;
}
ul.listaus {
  padding: 15px;
  margin: 0;
  width:100%;
  display:table;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul.listaus li {
  display: table-row;
}
ul.listaus li span.lLeft {
  display:table-cell;
  vertical-align:middle;
  padding-bottom:10px;
  padding-top:10px;}
ul.listaus li span.lRight {
  width: 105px;
  text-align:right;
  display:table-cell;
  vertical-align:middle;
}
ul.listaus li span.lTitle {
  font-size:1em;
  display:block;
}
ul.listaus li span.lDur {
  font-size: 0.7em;
  display:block;
}

 #hamburger-icon{
  width: 25px;
  height: 30px;
  margin-left: 15px;
  margin-top: 18px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#hamburger-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */

#hamburger-icon span:nth-child(1) {
  top: 0px;
}

#hamburger-icon span:nth-child(2),#hamburger-icon span:nth-child(3) {
  top: 8px;
}

#hamburger-icon span:nth-child(4) {
  top: 16px;
}

#hamburger-icon.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

#hamburger-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.back-arrow {
  color: rgb(201,201,201);
  position: absolute;
  top: 65px;
  margin-left: 10px;
  font-size: 30px;
  transition: 0.4s;
  &:hover {
    cursor: pointer;
    color: white;
    transition: 0.4s;
  }
}

hr {
  width: 200%;
  margin-left: -50px;
  border: 0;
  border-top: 1px solid $light-gray;
}

video {
  width: 100%;
  height: 100%;
}
