// Take into use to override MDC default colors
/*
$mdc-theme-primary: #fff;
$mdc-theme-accent: #bd0707;
$mdc-theme-background: #fff;
*/
$mdc-theme-primary: #181717;

// Import the individual components on-demand basis.
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/list/mdc-list";
@import "@material/toolbar/mdc-toolbar";
@import "@material/typography/mdc-typography";
@import "@material/tabs/mdc-tabs";

// Override some of their default behaviours
@import "overrides";
@import "searchField";
@import "sideNav";
