@import "colors";
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}

#searchShows input[type=search] {
	background: $primary-color url(../images/search-icon-white.png) no-repeat 9px center;
	border: solid 1px $primary-color;
	padding: 9px 10px 9px 32px;

  margin-right: 10px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

#searchShows input[type=search] {
	width: 15px;
	padding-left: 10px;
	cursor: pointer;
}

#searchShows input[type=search]:focus {
	width: 250px;
	padding-left: 32px;
	color: #000;
	background: white url(../images/search-icon-black.png) no-repeat 9px center;
	cursor: auto;
}
